.app {
  display: flex;
  min-height: 1080px
}

.menu {
  background: #0e1a35;
  display: flex;
  flex-direction: column;
  width: 320px;
  color: #fff;
  font-size: 24px;
  min-height: 1080px;

  &__logo {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    padding: 40px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    &:hover {
      border-left: 10px solid #5584ff;
      background-color: #122143
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f7fa;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    padding: 33px;

    &__search {
      display: flex;
      align-items: center;

      &__input {
        width: 300px;
        height: 80%;
        border: none;
        padding: 15px;
        border-radius: 50px;
        background-color: #f6f7fa;
        outline: none;
        margin-left: 10px;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
    }

  }

  &__content {
    display: flex;
    width: 100%;
    height: 90%;

    &__places {
      padding: 60px 40px;
    }

    &__place {
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.15);
      margin: 10px 0;

      //&__main {
      //  color: #8492af;
      //
      //  a {
      //    font-size: 32px;
      //    font-weight: bold;
      //  }
      //}

      &__parts {
        color: #0e1a35;
        list-style-type: none;

        li {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
    }

    &__view-place {

    }
  }

}

.layout__content__place__main {
  color: #8492af;

  a {
    font-size: 24px;
    font-weight: bold;
  }

}





